In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer        #converts a collection of text documents into a numerical representation
from sklearn.feature_extraction.text import TfidfVectorizer        #converts text documents into vectors
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

data = pd.read_csv("C:\\Users\\91878\\Downloads\\archive\\data.csv", on_bad_lines='skip')
print(data.head())

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [2]:
data = data.dropna()
data["strength"] = data["strength"].map({0: "Weak", 
                                         1: "Medium",
                                         2: "Strong"})
print(data.sample(5))

          password strength
160101    g9o6975d   Medium
488327  buothe1798   Medium
295893  v6c4bi17ka   Medium
596596     karan07     Weak
213900   128828hpp   Medium

In [3]:
data.describe()

        password strength
count     669639   669639
unique    669639        3
top     fxx4pw4g   Medium
freq           1   496801

In [4]:
data

            password strength
0           kzde5577   Medium
1           kino3434   Medium
2          visi7k1yr   Medium
3           megzy123   Medium
4        lamborghin1   Medium
...              ...      ...
669635    10redtux10   Medium
669636     infrared1   Medium
669637  184520socram   Medium
669638     marken22a   Medium
669639      fxx4pw4g   Medium

[669639 rows x 2 columns]

In [4]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character
  
x = np.array(data["password"])
y = np.array(data["strength"])

tdif = TfidfVectorizer(tokenizer=word,token_pattern=None)
x = tdif.fit_transform(x)

print(f'x shape: {x.shape}, y shape: {y.shape}')
print(f'x type: {type(x)}, y type: {type(y)}')
xtrain, xtest, ytrain, ytest = train_test_split(x, y, 
                                                test_size=0.05, 
                                                random_state=42)

x shape: (669639, 153), y shape: (669639,)
x type: <class 'scipy.sparse._csr.csr_matrix'>, y type: <class 'numpy.ndarray'>

In [5]:
print(f'xtrain shape: {xtrain.shape}, ytrain shape: {ytrain.shape}')
print(f'xtest shape: {xtest.shape}, ytest shape: {ytest.shape}')

xtrain shape: (636157, 153), ytrain shape: (636157,)
xtest shape: (33482, 153), ytest shape: (33482,)

In [6]:
model = RandomForestClassifier()
model.fit(xtrain, ytrain)
print(f'Accuracy: {model.score(xtest, ytest)}')

Accuracy: 0.9564243474105489

In [14]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()

output = model.predict(data)
print(output)

Enter Password:  ········

['Medium']